{% extends 'mysite/base.html' %}
{% block content %}



<div class="intro" style="width:50%; margin: auto">

<h2>Producing quality American inspired food <br> sourced locally...</h2>

</div>

  <br>

<div id="content" style="width:40%; margin: 0 auto;">


Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras tristique felis sit amet ipsum tempor, 
  a dapibus velit interdum. Integer et volutpat lacus. Vestibulum ac eros nec felis dignissim pharetra. 
  Nulla molestie aliquam molestie. Cras id porta nunc. Donec vitae lorem sit amet purus lacinia laoreet 
  posuere quis enim. Donec fermentum tristique nisi. Nulla aliquam, metus vel porttitor posuere, lacus diam malesuada enim, 
  quis lacinia libero felis ac dolor. Mauris hendrerit luctus nunc, sit amet tristique justo blandit id. 
  Suspendisse rutrum semper erat et aliquam.

Suspendisse ac molestie ante, nec volutpat lectus. Cras fermentum sollicitudin augue sed dictum. Vestibulum consectetur augue
  odio, a luctus leo molestie vel. Aliquam leo nunc, lacinia semper semper sed, tincidunt et ligula. Proin ante orci, 
  ultricies eu nisi in, commodo fermentum ligula. Sed a dui vitae lorem mattis molestie. Quisque nec tristique felis. 
  Phasellus metus mauris, lobortis sed mollis quis, porta at ipsum. Donec eros augue, pretium sed arcu sit amet, feugiat 
  cursus ligula. Fusce eleifend ultricies erat sed mattis. Proin cursus turpis in nibh interdum viverra. Phasellus et
  mi molestie, aliquet risus sit amet, ultrices ipsum.

 sollicitudin elementum est in commodo. Etiam molestie consectetur orci, venenatis pharetra ipsum pharetra sed.
  Mauris egestas leo lorem. Suspendisse vitae purus in mi condimentum ullamcorper. In dui quam, porta sit amet 
  blandit vitae, eleifend vitae mi. Proin nibh sem, sollicitudin ut turpis quis, facilisis ullamcorper elit. Aenean 
  accumsan sodales justo vitae sollicitudin. Fusce non ex at ex interdum mollis. Aenean porta condimentum leo, non eleifend
  magna gravida vitae. Curabitur ut massa ac erat tristique sodales a eget elit. Curabitur sed ullamcorper ante, at iaculis 
  magna. Phasellus tristique ante mollis massa rhoncus luctus. Nunc consectetur mi at malesuada scelerisque. 
</p>


</div>
{% endblock %}
