{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Passion & Soul</title>

    <!-- header role="banner" -->
    <header role="banner">
      <img id="logo-main" src="{% static 'images/logo.png' %}" alt="Logo Thing main logo">
    </header>

<hr>

    <!-- Nav -->
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home' %} ">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'about' %} ">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post_list' %} ">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'contact_us' %} ">contact</a>
      </li>
    </ul>
  </head>


<hr>
  <body>
    {% block content %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

  </div>


  <br>
  <hr>

<div style="width:50%; margin: 0 auto;">


    <div id="footer" style="width: 10%; float: left;">

    <p>Facebook...</p>

    </div>

    <div id="footer" style="width: 10%;  margin: 0 auto;">

    <p>Facebook...</p>

    </div>

    <div id="footer" style=" width: 10%; float: right;">

    <p>Facebook...</p>

    </div>

</div>
</body>
</html>
