{% extends 'mysite/base.html' %}
{% block content %}



  <div class="intro" style="width:50%; margin: auto">

  <h2>Fill out the form to leave a message <br> or contact us via email or telephone...</h2>

  </div>

  <div id="content" style="width:40%; margin: 0 auto;">

      <p> it all started when i was a little boy and i loved food blah blag blah blah
      it all started when i was a little boy and i loved food blah blag blah blah
    it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah <br>
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  it all started when i was a little boy and i loved food blah blag blah blah
  </p>


  </div>
  
{% endblock %}
