
{% extends 'mysite/base.html' %}
{% block content %}
{% load static %}




  <div style="width:70%; margin-left: auto;">
   {% for post in posts %}
       <div style="float:left; width:500px; height:400px;">
         <h2><a href="{% url 'post_detail' pk=post.pk %}"><u>{{ post.title }}</u></a></h2>
          <a href="{% url 'post_detail' pk=post.pk %}"><img src="{{ post.image.url }}" alt="Smiley face" height="200" width="300"><br></a>
         <small>{{ post.published_date }}</small>
         <p>{{ post.text|truncatechars:20 }}<br>
         <a href="{% url 'post_detail' pk=post.pk %}"><small style="font-size: 65%;"><u>Read More</u></small></a></p>

       </div>

   {% endfor%}
   </div>







{% endblock %}
